
    
h2{
    /*color:crimson;*/
    background-color: antiquewhite;
}
.red{
    color:crimson;
    background-color: bisque;
}
#blue{
    color:black;
    background-color: blue;
}
.green{
    
    background-color: green;
}
a:visited{
    color:rgb(162, 255, 0);
}
a:link{
    color:rgb(43, 226, 89);
}
a:active{
    color:chocolate;
}
a:hover{
    color:darkmagenta
}

